html,body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
}
/*
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] 100px  [col2-start] 100px  [col3-start] 100px [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-column: col1-start / col3-start;
    grid-row: row1-start ;
}
.b {
    grid-column: col3-start ;
    grid-row: row2-start / row2-end;
}
.c {
    grid-column: col1-start;
    grid-row: row2-start ;
}*/
.overlayTextBox {
    left: 0;
    position: sticky;
    bottom: 0;
    background: 0 0 rgba(0, 0, 0, 0.4);
    height: 2.5rem;
    padding: 0.1rem 0.1rem 0.01rem 0.1rem;
    padding-bottom: 0.01rem;
    -webkit-transition: padding-bottom 1s; /* Safari */
    transition: padding-bottom 1s;
}

.overlayTextBox:hover {
    padding-bottom: 1rem;
}

.overlayText {
    color: white;
    font-size: x-large;
    font-family: Helvetica Neue;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: underline;
    text-align: center;
}

.previewBlock {
    width: 512px;
    height: 288px;
    overflow: hidden;
}

.previewBlock>a>img{
    filter: blur(0px);
    -webkit-transition: filter 1s; /* Safari */
    transition: filter 1s;
}

.previewBlock>a>img:hover {
    filter: blur(5px);
}
